

.square {
    background: orange;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    height: 34px;
    text-align: center;
    width: 34px;

}
.button:hover{

}
.fil{
  padding: 0px;
}

button:disabled{
  color: black;
}

.board{
  display: grid;
  align-items: center;
  margin-left: 38vw;   
}
