body{
  background-color: #000000eb;
}

h1, h3, p {
  color: white;
}

.square {
    background: orange;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    height: 50px;
    text-align: center;
    width: 50px;

}

.fil{
  padding: 0px;
}

button:disabled{
  color: black;
}

.grid-squares{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}

.all-grid{
  display: flex;
  justify-content: center;
}

.board{
  margin: 40px;   
  position: relative;
  text-align: center;
}

.resetButton{
  margin-top:10px;
}
