.square{
  display: inline-block;
  border-radius: 2px;
  border-style: solid;
}
.button:hover{

}
.fil{
  padding: 0px;
}

button:disabled{
  color: black;
}

.board{
  display: grid;
  margin-left: 38vw;   
}
