header{
  top: 0;
  position: relative;
}

.menu{
  margin: none;
  background-color:cyan;
  width: 100%;
}

.content-menu{
  display: block;
  background-color: orange;
  width: 40%;
  padding-inline-start: 12px;
  margin-left: 12px
}

.container{
  position: inherit;
}
