header{
  top: 0;
  position: static;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: white;
}
.decorate-header{
  background-color: rgba(0, 23, 111, 0.77);
  max-height:8vh; }
.navbar-light .navbar-nav .nav-link{
    color: white;
}

.navbar-light .navbar-brand{ 
    color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: #0000ca;
    padding: 2px;
}

footer{
  bottom: 20px; 
  max-height: 17vh;
  position: absolute;
  width: 100%; 
  background-color: rgba(0, 23, 111, 0.77);
  /*background-color: #3d4645;*/
}

.decorate-img{
  object-fit: contain;
  width: inherit;
  max-height: inherit;
}

.container{
  max-height: inherit;
}

.row{
  max-height: inherit;
}

.social{
    justify-content: flex-end;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px; 
    background-size: 50px 50px;
}

.size{
  max-height: inherit;
  max-width:inherit;
}

.font-footer{
  padding-block-start: 14px;
  text-align: center;
  font-size: 80%;
}

.contact{
  position: relative; 
  text-align: center;
  color: white;
  font-style: oblique;
  padding-block-start: 20px;
}


.align-social{
  text-align: right;
  padding-block-start: 5vh;
}
.social.github{
  background-image: url('./assets/github.svg');
}

.social.linkedin{
  background-image: url('./assets/linkedin.svg');
}
